@inject Logic.TokenProvider TokenProvider
@inject IJSRuntime JSRuntime

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SerenApp.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <AuthorizeView Roles="@Logic.AccountLogic.UserRole">
                        <NavLink class="nav-link" href="/devices">
                            <span class="oi oi-home" aria-hidden="true"></span> Devices
                        </NavLink>
                        <NavLink class="nav-link" href="/profile">
                            <span class="oi oi-home" aria-hidden="true"></span> Profile
                        </NavLink>
            </AuthorizeView>
            <AuthorizeView Roles="@Logic.AccountLogic.AdminRole">
                <NavLink class="nav-link" href="/device-management">
                    <span class="oi oi-home" aria-hidden="true"></span> Devices
                </NavLink>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                    <form @ref="LogoutForm" method="post" action="/identiy/account/logout" hidden>
                        <input name="__RequestVerificationToken" type="hidden" value="@TokenProvider.AntiForgeryToken" />
                    </form>
                    <NavLink class="nav-link" href="" @onclick="Logout">
                        <span class="oi oi-home" aria-hidden="true"></span> Log out
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                    <NavLink class="nav-link" href="Identity/Account/Login">
                        <span class="oi oi-home" aria-hidden="true"></span> Login
                    </NavLink>
                    <NavLink class="nav-link" href="Identity/Account/Register">
                        <span class="oi oi-home" aria-hidden="true"></span> Register
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
            
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private ElementReference LogoutForm;
    private IJSObjectReference module;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await module.InvokeVoidAsync("SubmitForm", LogoutForm);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        module = await JSRuntime.InvokeAsync<IJSObjectReference>("import","./Shared/NavMenu.razor.js");
    }
}
