@inject Logic.TokenProvider TokenProvider
@inject IJSRuntime JSRuntime

<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">SerenApp</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
                <AuthorizeView Roles="@Logic.AccountLogic.UserRole">
                    <NavLink class="nav-link" href="/devices">
                        <span class="oi oi-wifi" aria-hidden="true"></span> Devices
                    </NavLink>
                    <NavLink class="nav-link" href="/profile">
                        <span class="oi oi-person" aria-hidden="true"></span> Profile
                    </NavLink>
                </AuthorizeView>
                <AuthorizeView Roles="@Logic.AccountLogic.AdminRole">
                    <NavLink class="nav-link" href="/device-management">
                        <span class="oi oi-cog" aria-hidden="true"></span> Devices
                    </NavLink>
                    <NavLink class="nav-link" href="/device-reports">
                        <span class="oi oi-graph" aria-hidden="true"></span> Reports
                    </NavLink>
                </AuthorizeView>
                <AuthorizeView>
                    <Authorized>
                        <form @ref="LogoutForm" method="post" action="/identiy/account/logout" hidden>
                            <input name="__RequestVerificationToken" type="hidden" value="@TokenProvider.AntiForgeryToken" />
                        </form>
                        <NavLink class="nav-link ms-0 ms-lg-auto" @onclick="Logout">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-link" href="Identity/Account/Login">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Login
                        </NavLink>
                        <NavLink class="nav-link" href="Identity/Account/Register">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Register
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView> 
            </ul>
        </div>
    </div>
</nav>


@code {

    private ElementReference LogoutForm;
    private IJSObjectReference module;

    private async Task Logout()
    {
        await module.InvokeVoidAsync("SubmitForm", LogoutForm);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        module = await JSRuntime.InvokeAsync<IJSObjectReference>("import","./Shared/NavMenu.razor.js");
    }
}
