@page "/identity/account/register"
@model RegisterModel

<h3 class="text-center">Register</h3>

<form method="POST" class="border my-4 p-2">

    <div class="mb-3">
        <label for="phone-number" class="form-label">Phone Number</label>
        <input asp-for="Model.PhoneNumber" type="text" id="phone-number" class="form-control"/>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input asp-for="Model.Password" type="password" id="password" class="form-control"/>
    </div>

    <div class="mb-3">
        <label for="confirm-password" class="form-label">Confirm Password</label>
        <input asp-for="Model.ConfirmPassword" type="password" id="confirm-password" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@if(!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

@if(Model.RegistrationSuccessful) {
    <div class="alert alert-success">Succesful registration!</div>
}
