@page "/"


<PageTitle>Index</PageTitle>

<div class="d-flex flex-column align-items-center justify-content-center" style="height: 90vh">

        <img class="w-100" src="img/logo.png"/>
        <h1>SerenApp</h1>
        <h4>In randomness we trust!</h4>
        <AuthorizeView Roles="@Logic.AccountLogic.UserRole">
            You are logged in as User
        </AuthorizeView>
        <AuthorizeView Roles="@Logic.AccountLogic.AdminRole">
            You are logged in as Admin
        </AuthorizeView>
        <AuthorizeView>
            <NotAuthorized>You are not logged in</NotAuthorized>
        </AuthorizeView>

</div>



